*{
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Fira Sans, Droid Sans, Helvetica Neue;
}

body{
	/*border: 0.2px #120E06 solid;*/
	min-height: 950px;
	background: linear-gradient(186deg, rgba(201,201,228,1) 30%, rgba(223,189,200,1) 67%);
}

h1{
	/*border: 0.2px #120E06 solid;*/
	font-weight: 400;
}

.main{

	/*border: 0.8px black solid;*/
	margin: auto;
	max-width: 800px;
	padding: 1%;
}





ul, li, a{
	list-style: none;
	font-size: 107%;
	color: white;
	letter-spacing: 0.8px;

}

ul{
	padding: 0px 5px;

	display: flex;
	justify-content: space-between;
	/*flex-direction: row-reverse;*/
	
}

li {
	padding: 8px 10px;
	border-radius: 8px;
	/*display: block;*/
}



li, a{
	text-decoration: none;
	background: #66CB66;
	
}

.special{
	border: 0.1px #120E06 solid;
	background: transparent;
}

.special a{
	color: black;
	background: transparent;
}


.Example{
	font-size:1.4em;
}



.codeField{
	background: rgba(241,234,248, 0.5);
	padding: 0px;
}


.borderGreen{
	border-radius: 1px;
	display: flex;
	justify-content: start;
	margin: 0px;
	
}

.branch{
	background: linear-gradient(90deg, transparent 35%, #66cb66 50%, transparent 65%);
	margin-left: -12px;
	max-width: 1px;
	line-height: 1px;
}

.text{
	background:transparent;
	color: black;
	font-size:0.9em;
}


.yourself{
	font-size: 105%;
	padding: 10px;
	margin-left: 2px;
	background: #66CB66;
	width: 15%;
	color: white;
	border-radius: 8px;
	letter-spacing: 0.8px;
}


/* */